logs/error.log
backups/*

apps/*/storage/*
apps/*/public/uploads/*
apps/*/public/storage/*
apps/*/public/framework/*
apps/*/public/logs/*
apps/*/public/backups/*
apps/*/public/data/*
apps/*/public/logs/*
apps/*/public/backups/*
apps/*/public/data/*
apps/*/.env

nginx-gateway/log/*
services-common/volumes/portainer/data/*
services-common/volumes/mysql/*
services-common/volumes/gitlab-runner/config/*

kango_express/